<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="com.example.emptyappwithlogin.EmptyAppWithLoginApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmptyAppWithLogin">

        <activity android:name="com.example.emptyappwithlogin.ui.auth.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.emptyappwithlogin.ui.auth.register.RegisterActivity" />
        <activity android:name="com.example.emptyappwithlogin.ui.home.HomeActivity"
            android:theme="@style/Theme.EmptyAppWithLogin" />
    </application>
</manifest>